<section class="auth-page-wrapper py-5 position-relative d-flex align-items-center justify-content-center min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="card mb-0">
          <div class="row g-0 align-items-center">
            <div class="col-xxl-5">
              <div class="card auth-card bg-secondary h-100 border-0 shadow-none d-none d-sm-block mb-0">
                <div class="card-body py-5 d-flex justify-content-between flex-column h-100">
                  <div class="text-center">
                    <h3 class="text-white">Start your journey with us.</h3>
                    <p class="text-white opacity-75 fs-base">It brings together your tasks, projects, timelines, files and more</p>
                  </div>

                  <div class="auth-effect-main my-5 position-relative rounded-circle d-flex align-items-center justify-content-center mx-auto">
                    <div class="effect-circle-1 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                      <div class="effect-circle-2 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                        <div class="effect-circle-3 mx-auto rounded-circle position-relative text-white fs-4xl d-flex align-items-center justify-content-center">
                          Welcome to <span class="text-primary ms-1">PRODEX</span>
                        </div>
                      </div>
                    </div>
                    <ul class="auth-user-list list-unstyled">
                      <li>
                        <div class="avatar-sm d-inline-block">
                          <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                            <img src="assets/images/users/avatar-1.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="avatar-sm d-inline-block">
                          <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                            <img src="assets/images/users/48/avatar-2.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="avatar-sm d-inline-block">
                          <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                            <img src="assets/images/users/avatar-3.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="avatar-sm d-inline-block">
                          <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                            <img src="assets/images/users/avatar-4.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="avatar-sm d-inline-block">
                          <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                            <img src="assets/images/users/avatar-5.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="text-center">
                    <p class="text-white opacity-75 mb-0 mt-3">
                      &copy; {{year}} PRODEX. Crafted with <i class="mdi mdi-heart text-danger"></i> by Raed Bejaoui
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-xxl-6 mx-auto">
              <div class="card mb-0 border-0 shadow-none mb-0">
                <div class="card-body p-sm-5 m-lg-4">
                  <div class="text-center mt-2">
                    <h5 class="fs-3xl">Créez votre compte client gratuitement.</h5>
                  </div>

                  <div class="p-2 mt-5">
                    <form [formGroup]="signupForm" (ngSubmit)="signupEntreprise()" class="needs-validation" novalidate>
                      <div class="mb-3">
                        <label for="firstName" class="form-label">Nom <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="Enter nom">
                        <div *ngIf="signupForm.controls['firstName'].invalid && signupForm.controls['firstName'].touched" class="text-danger">
                          Veuillez entrer votre nom
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="lastName" class="form-label">Prénom <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Enter prénom">
                        <div *ngIf="signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched" class="text-danger">
                          Veuillez entrer votre prénom
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email address" required>
                        <div *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched" class="text-danger">
                          Veuillez entrer un email valide
                        </div>
                      </div>

                      <div class="mb-3">
                        <label class="form-label" for="password-input">Mot de passe <span class="text-danger">*</span></label>
                        <div class="position-relative auth-pass-inputgroup">
                          <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password" class="form-control password-input pe-5" placeholder="Enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                          <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon" (click)="toggleFieldTextType()">
                            <i class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}"></i>
                          </button>
                        </div>
                        <div *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched" class="text-danger">
                          Votre mot de passe doit contenir au moins 8 caractères, dont une lettre majuscule, une lettre minuscule et un chiffre
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="phone" class="form-label">Télephone <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Enter téléphone">
                        <div *ngIf="signupForm.controls['phone'].invalid && signupForm.controls['phone'].touched" class="text-danger">
                          Veuillez entrer un numéro de téléphone valide
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="cin" class="form-label">Cin <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="cin" id="cin" placeholder="Enter cin">
                        <div *ngIf="signupForm.controls['cin'].invalid && signupForm.controls['cin'].touched" class="text-danger">
                          Veuillez entrer un numéro de CIN valide
                        </div>
                      </div>

                      <div class="mt-4">
                        <button class="btn btn-primary w-100" type="submit" [disabled]="signupForm.invalid">Inscription</button>
                      </div>
                    </form>
                  </div>
                  <div class="mt-4 text-center">
                    <p class="mb-0">Déjà un compte ? <a routerLink="/account/login" class="fw-semibold text-primary text-decoration-underline">Connexion</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
      </div>
      <!--end col-->
    </div>

  </div>

</section>
